@use './styles/product';
@use './styles/about';
@use './styles/partner';
@use './styles/case';
@use './styles/pricing';
@use './styles/blog';
@use './styles/utils';
@use './styles/error';

$green: #0D363A;
$grey: #cfd7d8;

.wrapper {

    &>div,
    &>ul {
        padding: 0 48px;
        max-width: 1440px;
        margin: 0 auto;

        @media (width < 1024px) {
            padding: 0 16px;
        }

        &>div,
        &>section,
        &>header,
        &>footer {
            padding-left: 16px;
            padding-right: 16px;

            @media (width < 1024px) {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
}

.accordion {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 16px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #DFE7E5;
        color: #fff;
        min-height: 64px;
        border-radius: 8px;
        transition: all 0.3s ease;

        &>span {
            font-weight: 600;
            font-size: 22px;
            line-height: 26.4px;
            color: #02171A;
            font-family: 'Raleway';
            transition: color .3s ease;
        }
    }

    &__arrow {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        color: #02171A;
        padding: 24px 16px 0 16px;
        transition: all 0.3s ease;

        a {
            @extend .link_with-hover;
            width: fit-content;
            margin-bottom: 24px;
            border-bottom: 1px solid transparent !important;

            &:hover {
                border-bottom: 1px solid #BFDDBC !important;
            }
        }

        a.active {
            color: #0D363A;
            border-bottom: 1px solid #BFDDBC !important;
        }
    }

    &.open {
        .accordion__header {
            background-color: #004A42;
            border: 1px solid transparent;

            span {
                color: #fff;
                opacity: 1;
            }
        }

        .accordion__content {
            opacity: 1;
            height: auto;
        }

        .accordion__arrow {
            transform: rotate(180deg);

            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}

.wrapper_green {
    background: $green;
    border-radius: 14px;
}

.wrapper_header {
    background: rgba(13, 54, 58, 0.9) !important;
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    z-index: 99999;
    transition: all 0.5s ease;
    width: 100%;
}

.header-nav-item {
    position: relative;
    cursor: pointer;

    &:hover {
        &>a {
            background: #FFFFFF;
            border-radius: 4px;

            span {
                color: #000 !important;
            }

            img {
                transform: rotate(180deg);
                filter: invert(100%);
            }
        }


        &>div {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
    }

    &>a {
        display: flex;
        column-gap: 4px;
        cursor: pointer;
        align-items: center;
        padding: 9px 10px;
        transition: background .3s ease;
        border-radius: 4px;

        span {
            @extend %header-text;
            transition: color .3s ease;
        }

        button {
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 7px;
                height: 4px;
                transition: all .3s ease;
            }
        }
    }

    &>div {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
        padding-top: 8px;

        &>div {
            background: #fff;
            padding: 8px;
            width: 210px;
            border-radius: 4px;


            a {
                display: block;
                color: #02171A;
                cursor: pointer;
                padding: 9px 16px;
                transition: all .3s ease;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                border-radius: 4px;

                &:hover {
                    background: #BFDDBC;
                }
            }

            a:not(:last-child) {
                margin-bottom: 8px;
            }
        }

    }
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1440px;
    margin: 0 auto;

    @media (width < 1024px) {
        height: 64px;
    }

    &__logo {
        min-width: 127px;
        height: 26px;
        cursor: pointer;
        z-index: 9999;

        img {
            width: 100%;
            height: 100%;
        }
    }

    %header-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 22.4px;
        color: #fff;
    }

    nav {
        padding-left: 151px;

        @media (width < 1240px) {
            padding-left: 0;
        }

        @media (width < 1024px) {
            display: none;
        }

        ul {
            display: flex;

            &>li {
                padding: 0 6px;
                @extend .header-nav-item;
            }
        }
    }

    &__right {
        display: flex;
        column-gap: 24px;
        align-items: center;

        @media (width < 768px) {
            column-gap: 16px;
        }

        &>.header__languages {
            @extend .header-nav-item;

            &>div:first-child {
                padding: 9px 8px;
            }

            &>div:last-child>div {
                width: 100px;
            }

            @media (width < 1024px) {
                display: none;
            }
        }

        &>a:first-child {
            color: #fff;
            transition: all .3s ease;
            border-bottom: 1px solid transparent;
            cursor: pointer;

            &:hover {
                color: #BFDDBC;
                border-bottom: 1px solid #BFDDBC;
            }

            @media (width < 1024px) {
                display: none;
            }
        }

        span {
            color: #fff;
            cursor: pointer;

            @media (width < 1024px) {
                display: none;
            }

            span {
                @extend %header-text;

            }
        }

        &-button {
            font-weight: 500;
            font-size: 16px;
            line-height: 22.4px;
            color: #02171A;
            height: 40px;
            padding: 0 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 4px;
            transition: background .3s ease;
            cursor: pointer;
            z-index: 9999;

            @media (width < 1024px) {
                height: 40px;
            }

            &:hover {
                background: #BFDDBC;
            }
        }
    }
}

.burger {
    display: none;

    @media (width < 1024px) {
        display: block;
    }
}

.burger__icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 99999;
    position: relative;
    background: #F8F9F7;
    border-radius: 4px;

    &>div {
        width: 18px;
        height: 3px;
        background-color: #1c1c1c;
        transition: all 0.3s ease;
        border-radius: 3px;

        @media (width < 1024px) {
            height: 2px;
        }
    }
}

.burger__icon.active {

    .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: #1c1c1c;

    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: rotate(45deg) translate(-4px, -5px);
        background-color: #1c1c1c;

    }
}

.burger__menu {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: fit-content;
    background-color: #f2f4f6;
    box-sizing: border-box;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: hidden;
    transition: all 0.3s ease;
    background: $green;
    // padding: 12px 11px;
    border-radius: 4px;
    height: 100dvh;

    &>div {
        padding-top: 88px;
    }

    &>div>ul>li {
        @extend .accordion;
        display: block;

        &>a {
            @extend .accordion__header;
            border: none;
            padding-left: unset;

            span {
                display: block;
                color: #fff;
                opacity: 1;
            }

            &>div>svg>path {
                fill: #fff;
            }
        }

        &>div:last-child {
            @extend .accordion__content;
            color: #fff;
            padding-top: 0;

            a {
                &:hover {
                    color: #fff !important;
                }
            }
        }
    }

    & .open {
        span {
            color: #BFDDBC !important;
        }

        path {
            fill: #BFDDBC !important;
        }

        &>div:last-child {
            padding-top: 15px;
        }
    }
}

.burger__menu.active {
    right: 0px;
    opacity: 1;
    visibility: visible;
}

.PT-text {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #BFDDBC;
    text-transform: uppercase;

    @media (width < 1024px) {
        font-size: 14px;
        line-height: 120%;
    }
}

.PT-text_green {
    color: #0D363A;
}

.main-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    height: 50px;
    color: #02171A;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    width: fit-content;
    transition: all .3s ease;

    img {
        transition: all .3s ease;
    }

    &:hover {
        background: #BFDDBC;

        img {
            transform: rotate(-45deg);
        }
    }
}

.main-button_green {
    @extend .main-button;
    background: #004A42;
    color: #fff;

    &:hover {
        background: #BFDDBC;
        color: #02171A !important;

        img {
            transform: rotate(-45deg);
            filter: brightness(0) invert(1);
        }
    }
}

.main-button_green-centre {
    background: #004A42;
    color: #fff !important;
    margin: 64px auto 0 auto;


    &:hover {
        background: #BFDDBC;
        color: #02171A !important;

        img {
            transform: rotate(-45deg);
            filter: brightness(0) invert(1);
        }
    }

    @media (width < 1024px) {
        margin-top: 40px;
    }
}


.hero {
    padding: 144px 16px 64px 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (width < 1024px) {
        flex-direction: column;
        padding-top: 128px;
        padding-bottom: 40px;
    }

    &__left {
        max-width: 485px;

        @media (width < 1024px) {
            max-width: unset;
        }

        h4 {
            @extend .PT-text;
            padding-bottom: 32px;
            text-transform: uppercase;

            @media (width < 1024px) {
                padding-bottom: 24px;
                text-align: center;
            }
        }

        h1 {
            font-weight: 600;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -0.4px;
            padding-bottom: 24px;
            color: #fff;

            @media (width < 1024px) {
                font-size: 46px;
                line-height: 110.00000000000001%;
                text-align: center;
            }
        }

        &-description {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            padding-bottom: 40px;
            max-width: 432px;
            color: $grey;

            @media (width < 1024px) {
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                opacity: 0.8;
                max-width: unset;
            }
        }

        &>a {
            @extend .main-button;

            @media (width < 1024px) {
                margin: 0 auto;
                margin-bottom: 23px;
            }
        }
    }

    &>div:nth-child(2) {
        position: relative;
        padding-right: 30px;
        margin-top: 17px;
        max-height: 400px;

        @media (width < 1024px) {
            max-height: unset;
            padding-right: 0;
        }

        &>img {
            width: 100%;
        }

        &>div {
            width: 100%;
            position: absolute;
        }

        &>div:nth-child(2) {
            top: 6%;
            left: -45px;
        }

        &>div:nth-child(3) {
            top: 16%;
            left: -45px;
        }

        &>div:nth-child(4) {
            top: 38%;
            left: -45px;
        }

        &>div>img {
            width: 25%;
        }
    }
}

.trusted-companies {
    padding: 40px 0 55px 0;
    overflow: hidden;

    @media (width < 1024px) {
        padding-top: 2px;
        padding-bottom: 64px;
    }

    h4 {
        @extend .PT-text;
        width: 100%;
        text-align: center;
        padding-bottom: 24px;
    }

    &__marquee {
        position: relative;
        width: 100%;
        animation: marquee 15s linear infinite;
    }

    &__track {
        display: flex;
        align-items: center;
        column-gap: 90px;

        img {
            opacity: 0.5;
            cursor: pointer;
            transition: opacity .3s ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-67%);
        }
    }
}

.main-heading {
    width: 100%;
    text-align: center;

    h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 57.6px;
        letter-spacing: -0.4px;
        text-align: center;
        color: #02171A;
        margin: 0 auto;
        letter-spacing: -0.4px;

        @media (width < 1024px) {
            font-weight: 600;
            font-size: 32px;
            line-height: 110.00000000000001%;
        }
    }
}

.benefits {
    padding: 120px 16px 60px 16px;

    @media (width < 1024px) {
        padding-top: 64px;
        padding-bottom: 40px;
    }

    &>p {
        text-align: center;
        padding-bottom: 24px;
    }

    h2 {
        max-width: 500px;
    }

    &__inner {
        padding-top: 64px;
        display: flex;
        column-gap: 24px;

        @media (width < 1024px) {
            padding-top: 24px;
        }

        &>div:first-child {
            max-width: 421px;
            width: 100%;

            @media (width < 1024px) {
                max-width: unset;
            }
        }

        &>div:nth-child(2) {
            width: 100%;
            max-height: 550px;
            height: 100%;

            @media (width < 1024px) {
                display: none;
            }
        }
    }

    &__graph_mobile {
        display: none;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 40px;

        @media (width < 1024px) {
            display: block;
        }
    }
}

.link_with-hover {
    display: block;
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &:hover {
        color: #0D363A;
        border-bottom: 2px solid #0D363A;
    }
}



.openness {
    padding: 60px 16px 120px 16px;

    @media (width < 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &_pt-120 {
        padding-top: 120px;

        @media (width < 1024px) {
            padding-top: 64px;
        }
    }

    &>p {
        text-align: center;
        padding-bottom: 64px;

        @media (width < 1024px) {
            padding-bottom: 40px;
        }
    }

    h2 {
        max-width: 656px;
        padding-bottom: 24px;

        @media (width < 1024px) {
            padding-bottom: 16px;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #344446;
        max-width: 452px;
        margin: 0 auto;

        &_pb {
            padding-bottom: 64px;

            @media (width < 1024px) {
                padding-bottom: 40px;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5px;

        @media (width < 768px) {
            flex-wrap: wrap;
            gap: 32px;
        }

        &>div {
            max-width: 334px;

            img {
                width: 32px;
                height: 32px;
            }

            b {
                font-weight: 600;
                font-size: 22px;
                line-height: 26.4px;
                padding: 24px 0 16px 0;
                display: block;
            }

            p {
                @extend .openness__description;
                text-align: left;
            }
        }


        &_grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 24px;
            row-gap: 40px;

            @media (width < 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (width < 600px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

.metrics {
    padding: 80px 16px;

    @media (width < 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &>p {
        text-align: center;
        padding-bottom: 24px;

        @media (width < 1024px) {
            padding-bottom: 16px;
        }
    }

    h2 {
        max-width: 564px;
        padding-bottom: 64px;
        color: #fff;

        @media (width < 1024px) {
            padding-bottom: 40px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        column-gap: 20px;

        @media (width < 1024px) {
            flex-direction: column;
            row-gap: 24px;
        }

        &>div {
            max-width: 421px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media (width < 1024px) {
                max-width: unset;
            }

            &>img {
                border-radius: 14px;
                object-fit: cover;
                height: 100%;
                max-height: 305px;

                @media (width < 1024px) {
                    display: none;
                }
            }

            &>div {
                background: rgba(191, 221, 188, 0.1);
                padding: 24px;
                width: 100%;
                border-radius: 14px;

                h3 {
                    font-weight: 500;
                    font-size: 90px;
                    line-height: 90px;
                    letter-spacing: -0.4px;
                    color: #fff;

                    @media (width < 768px) {
                        font-size: 64px;
                        line-height: 100%;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 28px;
                    color: #fff;

                    @media (width < 768px) {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

.testimonials {
    padding: 120px 16px;

    @media (width < 1024px) {
        padding-top: 64px;
        padding-bottom: 104px;
    }

    &>p {
        text-align: center;
        padding-bottom: 24px;

        @media (width < 1024px) {
            padding-bottom: 16px;
        }
    }

    h2 {
        padding-bottom: 64px;

        @media (width < 1024px) {
            padding-bottom: 40px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (width < 1024px) {
            row-gap: 40px;
            flex-wrap: wrap;
        }

        &>div {
            background: #EBECEB;
            padding: 24px;
            border-radius: 14px;
            display: flex;
            flex-direction: column;

            &>div:first-child {
                padding: 10px 0;
                max-height: 56px;
            }

            &>blockquote {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                padding: 24px 0;
                max-width: 375px;
                width: 100%;

                @media (width <=768px) {
                    max-width: unset;
                }
            }

            &>div:last-child {
                margin-top: auto;

                cite {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    padding-bottom: 4px;
                    font-style: normal;
                }

                div {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                }
            }
        }
    }
}

.main-input {
    background: transparent;
    font-size: inherit;
    border: 1px solid #FFFFFF4D;
    border-radius: 4px;
    width: 100%;
    padding-left: 16px;
    color: #fff;
    transition: all .3s ease;
    padding-right: 150px;
    height: 50px;

    &::placeholder {
        color: #fff;
        opacity: 0.8;
    }

    &:focus {
        border: 1px solid #fff;
    }
}

.cta {
    background: #0D363A;
    border-radius: 14px;
    box-shadow: 0px 144px 58px 0px #03161805;
    padding: 64px 80px;
    display: flex;
    justify-content: space-between;

    @media (width < 1240px) {
        padding: 24px 24px 40px 24px;
    }

    @media (width < 1024px) {
        flex-direction: column-reverse;
        text-align: center;
    }

    &>div:first-child {
        padding-top: 18px;
        max-width: 550px;

        &>p:first-child {
            padding-bottom: 24px;
        }

        @media (width < 1024px) {
            padding-top: 32px;
            max-width: unset;
        }
    }

    &__heading {
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -0.4px;
        padding-bottom: 24px;
        color: #fff;

        @media (width < 1024px) {
            font-size: 32px;
            line-height: 110.00000000000001%;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding-bottom: 40px;
        color: $grey;
        max-width: 456px;

        @media (width < 1024px) {
            padding-bottom: 32px;
            font-size: 14px;
            max-width: unset;
        }
    }

    &__button {
        @extend .main-button;

        @media (width < 1024px) {
            margin: 0 auto;
        }
    }

    &__form-1 {
        position: relative;

        input {
            @extend .main-input;
            height: 58px !important;


            @media (width < 768px) {
                height: 50px !important;
            }

            @media (width < 1024px) {
                width: 100%;
            }
        }
    }

    &__form-2 {
        max-width: 564px;
        width: 100%;
        background: #1F4747;
        border-radius: 14px;
        padding: 24px;

        @media (width < 1024px) {
            padding: 16px;
        }


        @media (width < 1024px) {
            max-width: unset;
            order: -1;
            text-align: left;
        }

        .form-group>input {
            @extend .main-input;

            margin-bottom: 24px;

        }
    }

    &__input {
        max-width: 400px;
        position: relative;

        @media (width < 1024px) {
            max-width: unset;
        }

        button {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 140px;

            @media (width < 768px) {
                position: relative;
                margin-top: 24px;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #fff;
            opacity: 0.8;
            padding-top: 16px;

            @media (width < 768px) {
                display: none;
            }

            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

.footer {
    padding: 80px 16px;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;

    @media (width < 768px) {
        padding-top: 64px;
        padding-bottom: 32px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    &>div:first-child {
        &>a {
            width: 199px;
            height: 62px;
            margin-bottom: 59px;
            cursor: pointer;
            display: block;

            @media (width < 768px) {
                display: none;
            }
        }
    }

    &__media {
        display: flex;
        max-width: 168px;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 12px;
        align-items: center;

        a {
            cursor: pointer;
            display: block;

            img {
                opacity: 0.6;
                transition: opacity .3s ease;
            }

            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }

    &__bottom-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        opacity: 0.8;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding-right: 95px;
        max-width: 867px;
        width: 100%;

        @media (width < 768px) {
            padding-top: 24px;
            padding-bottom: 32px;
            flex-wrap: wrap;
            gap: 24px;
        }

        @media (width < 600px) {
            &>div:nth-child(2n) {
                min-width: 50%
            }
        }

        @media (width < 400px) {
            &>div {
                min-width: 100%
            }
        }


        &>div {
            p {
                @extend .PT-text;
                @extend .PT-text_green;
                padding-bottom: 24px;
            }

            a {
                @extend .link_with-hover;
                max-width: 115px;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                margin-bottom: 16px;
                width: fit-content;
            }
        }
    }

    &__logo_mobile {
        display: none;

        @media (width < 768px) {
            display: block;
        }
    }
}

.wrapper_header-white {
    @extend .wrapper_header;
    background: rgba(248, 249, 247, 0.9) !important;

    .header__right-button_green {
        color: #fff;
        background: $green;
    }

    .header__nav,
    .header__languages {

        a,
        div {
            &>span {
                color: #02171A !important;
            }

            &>button {
                img {
                    filter: invert(100%);
                }
            }
        }
    }

    .header__logo {
        z-index: 1;
    }

    .burger__menu.active {
        &::before {
            content: "";
            position: absolute;
            width: 127px;
            height: 26px;
            left: 24px;
            top: 19px;
            background: url("./img/logo.svg");
            z-index: 99999;
        }
    }

    .header__right {
        &>a:first-child {
            color: #000;

            &:hover {
                color: $green;
                border-bottom: 1px solid #BFDDBC;
            }

            @media (width < 1024px) {
                display: none;
            }
        }
    }
}


.demo-hero {
    @extend .hero;
    padding: 160px 13px 84px 13px;
    gap: 20px;

    @media (width < 1024px) {
        padding-top: 128px;
        padding-bottom: 64px;
    }

    .hero__left {
        max-width: 644px;
        width: 100%;
        text-align: left;

        h4,
        h1,
        p {
            text-align: left;
        }

        &-description {
            max-width: unset;
            padding-bottom: 40px;
        }

        form {
            max-width: 410px;
            width: 100%;

            input {
                @extend .main-input;
            }

            input[type="checkbox"] {
                width: auto;
            }
        }

        @media (width < 1024px) {
            width: auto;
            max-width: fit-content;
        }
    }

    img {
        min-width: 500px;
    }

    &>div:nth-child(2) {
        @media (width < 1024px) {
            display: none;
        }
    }
}

.glossary-top {
    padding: 160px 16px 64px 16px;

    @media (width < 1024px) {
        padding: 64px 8px 64px 8px;
    }

    .PT-text {
        padding-bottom: 32px;
        text-align: center;

        @media (width < 1024px) {
            padding-bottom: 24px;
        }
    }

    h1 {
        font-weight: 600;
        font-size: 72px;
        line-height: 100%;
        letter-spacing: -0.4px;
        text-align: center;
        color: #fff;
        padding-bottom: 24px;

        @media (width < 1024px) {
            font-size: 46px;
            line-height: 110.00000000000001%;

        }
    }

    &__description {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        margin: 0 auto;
        max-width: 456px;
        color: #fff;
        opacity: .8;
        padding-bottom: 40px;

        @media (width < 1024px) {
            font-size: 16px;
        }
    }

    &__search {
        position: relative;
        max-width: 422px;
        height: 56px;
        margin: 0 auto;
        margin-bottom: 40px;

        form {
            width: 100%;
            height: 100%;
        }

        input {
            width: 100%;
            height: 100%;
            background: #1F4747;
            color: #fff;
            padding-left: 24px;
            border-radius: 100px;
            padding-right: 120px;

            &::placeholder {
                color: #fff;
                opacity: 0.7;
            }
        }

        button {
            position: absolute;
            background: #BFDDBC;
            color: #02171A;
            font-size: 16px;
            border-radius: 100px;
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 8px;
            top: 8px;
        }
    }

    &__letters {
        display: flex;
        column-gap: 4px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media (width < 768px) {
            justify-content: space-evenly;
        }

        a {
            cursor: pointer;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            opacity: 0.4;
            transition: opacity .3s ease;

            &:hover {
                opacity: 1;
            }
        }

        a:nth-child(2) {
            width: 38px;
        }

        .available-letter {
            opacity: 1
        }

        .active-letter {
            background: #BFDDBC;
            color: #02171A;
            opacity: 1;
            border-radius: 4px;
        }
    }
}

.glossary-content {
    padding: 64px 16px 120px 16px;
    color: #02171A;

    @media (width < 1024px) {
        padding-bottom: 104px;
    }

    &__item {
        margin-bottom: 64px;

        @media (width < 1024px) {
            margin-bottom: 40px;
        }

        &>div:first-child {
            height: 50px;
            width: 100%;
            padding: 12px 24px;
            border-radius: 8px;
            background: #EBECEB;
            font-weight: 600;
            font-size: 22px;
            line-height: 120%;
            margin-bottom: 32px;
        }

        &>div:nth-child(2) {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 32px;

            @media (width < 1024px) {
                row-gap: 24px;
            }

            div {
                max-width: 421px;
                width: 100%;

                a {
                    @extend .link_with-hover;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 120%;
                    width: fit-content;
                }
            }
        }
    }
}