$green: #0D363A;
$grey: #cfd7d8;

.hero_product {
    padding: 160px 16px 80px 16px;

    @media (width < 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .hero__left {
        padding-top: 78px;

        @media (width < 1024px) {
            padding-top: unset;
        }

        &-description {
            color: #344446;
        }

        a {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            height: 50px;
            padding: 0 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            cursor: pointer;
            border-radius: 4px;
            width: fit-content;
            transition: all .3s ease;
            background: #004A42;
            color: #fff;

            img {
                transition: all .3s ease;
            }

            &:hover {
                background: #BFDDBC;
                color: #02171A;

                img {
                    transform: rotate(-45deg);
                    filter: invert(1);
                }
            }
        }
    }

    &>div:nth-child(2) {
        border-radius: 14px;
        max-height: 520px !important;
        height: 100%;
        max-width: 731px;

        @media (width < 1024px) {
            max-height: unset !important;
            max-width: unset;
        }

        &>div:nth-child(2) {
            top: 16% !important;
            left: 25px !important;
        }

        &>div:nth-child(3) {
            top: 23% !important;
            left: 25px !important;
        }

        &>div:nth-child(4) {
            top: 38% !important;
            left: 25px !important;
        }

        &>div>img {
            width: 18% !important;
        }
    }

    h4 {
        color: $green !important;
    }

    h1 {
        color: #02171A !important;

        @media (width < 1240px) and (width >=1024px) {
            max-width: 300px;
        }
    }
}

.build {
    padding: 80px 16px;

    @media (width < 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &>p {
        text-align: center;
        padding-bottom: 24px;

        @media (width < 1024px) {
            padding-bottom: 16px;
        }
    }

    h2 {
        max-width: 564px;
        padding-bottom: 64px;
        color: #fff !important;

        @media (width < 1024px) {
            padding-bottom: 40px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
        column-gap: 20px;

        @media (width < 768px) {
            flex-direction: column;
        }

        &-text {
            padding-top: 107px;
            max-width: 604px;
            width: 100%;
            min-width: 300px;

            @media (width < 1024px) {
                padding-top: unset;
            }

            @media (width < 768px) {
                max-width: unset;
                min-width: none;
                order: -1;
            }

            .PT-text {
                padding-bottom: 24px;
                font-size: 14px;
                line-height: 120%;

                @media (width < 1024px) {
                    padding-bottom: 16px;
                }
            }

            h3 {
                font-weight: 600;
                font-size: 36px;
                line-height: 120%;
                letter-spacing: -0.4px;
                padding-bottom: 24px;
                max-width: 411px;
                color: #fff;

                @media (width < 1024px) {
                    font-size: 26px;
                    line-height: 120%;
                    padding-bottom: 16px;
                }

                @media (width < 768px) {
                    max-width: unset;
                }
            }
        }

        &-description {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $grey;
            padding-bottom: 24px;
            max-width: 411px;

            @media (width < 1024px) {
                padding-bottom: 16px;
            }

            @media (width < 768px) {
                max-width: unset;
            }
        }

        &-bold {
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 24px;
            padding-left: 16px;
            border-left: 2px solid #BFDDBC;

            @media (width < 1024px) {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                margin-bottom: 16px;
            }
        }

        &-img {
            padding: 85px 36px;
            background: #1F4747;
            border-radius: 14px;
            max-height: 520px;

            @media (width < 1024px) {
                padding: 33px 24px 29px 26px;
            }

            img {
                max-width: 572px;

                @media (width < 1240px) {
                    max-width: 100%;
                }
            }
        }
    }
}

.integrations {
    padding: 120px 16px;

    @media (width < 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    @media (width < 768px) {
        padding-left: 0;
        padding-right: 0;
    }

    &>p {
        text-align: center;
        padding-bottom: 24px;

        @media (width < 1024px) {
            padding-bottom: 16px;
        }
    }

    h2 {
        max-width: 564px;
        padding-bottom: 64px;

        @media (width < 1024px) {
            padding-bottom: 40px;
        }
    }

}

.mySwiper {
    width: 100%;
    padding-bottom: 64px !important;
}

.swiper_partner {
    .card {
        height: 137px;
        row-gap: 25px;
    }
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    text-decoration: none;
    transition: all 0.3s ease !important;
    max-width: 300px;
    width: 100%;
    height: 104px;
    border-radius: 8px;
    margin-bottom: 24px;

    @media (width < 768px) {
        height: 80px;
    }

    img {
        height: auto;
        transition: all 0.3s ease;

        @media (width < 768px) {
            max-width: 115px;
        }
    }

    &:hover {
        background-color: #000;

        p {
            color: #fff;
        }

        img {
            filter: brightness(0) invert(1);
        }
    }

    p {
        font-family: "PT Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #0D363A;

        @media (width < 1024px) {
            font-size: 10px;
        }
    }
}


.swiper-button-prev,
.swiper-button-next {
    transition: all 0.3s ease;

    path {
        transition: fill .3s ease;
    }

    &:hover {
        background: #BFDDBC;

        path {
            fill: #004A42;
        }
    }

}

.swiper-button-prev {
    background: #004A42;
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    top: unset !important;
    bottom: 0;
    left: 50% !important;
    transform: translate(-350%, 0);

    &::after {
        display: none;
    }

    svg {
        path {
            fill: #fff;
        }
    }
}

.swiper-button-next {
    @extend .swiper-button-prev;
    transform: translate(250%, 0);
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin-bottom: 5px !important;
}

.swiper-pagination-bullet-active {
    background: #004A42 !important;
}

.swiper-button-disabled {
    background: #DFE7E5;
    opacity: 1 !important;

    svg {
        path {
            fill: #004A42;
        }
    }
}

.stories {
    @extend .integrations;

    h2 {
        max-width: 456px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 40px;
        flex-wrap: wrap;

        @media (width < 768px) {
            flex-direction: column;
            align-items: center;
        }

        &>div {
            max-width: calc(33% - 12px);
            width: 100%;

            @media (width < 768px) {
                max-width: 421px;
            }

            img {
                border-radius: 14px;
                width: 100%;
                padding-bottom: 24px;
            }

            p {
                font-weight: 600;
                font-size: 22px;
                line-height: 120%;
                padding-bottom: 24px;
            }

            div {
                font-weight: 700;
                font-size: 18px;
                line-height: 100%;
                display: flex;
                column-gap: 8px;
                color: $green;
                transition: all .3s ease;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                width: fit-content;

                svg {
                    path {
                        stroke: $green;
                        transition: stroke .3s ease;
                    }
                }

                &:hover {
                    color: #BFDDBC;
                    border-bottom: 1px solid #BFDDBC;

                    svg {
                        path {
                            stroke: #BFDDBC;
                        }
                    }
                }
            }
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    overflow: auto;

    &.show {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0);
        transition: all .3s ease;


        @media (width < 1024px) {
            height: 150%;
        }

        .popup.show & {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    &__content {
        position: relative;
        z-index: 10;
        max-width: 1312px;
        width: 95%;
        margin: auto;
        background: #fff;
        border-radius: 14px;
        padding: 40px;
        transform: translateY(30px);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        display: flex;
        justify-content: space-between;
        column-gap: 20px;

        @media (width <=1024px) {
            padding: 32px 16px;
        }

        @media (width < 1024px) {
            margin-top: 100px;
            flex-direction: column;
            row-gap: 40px;
        }

        .popup.show & {
            transform: translateY(0);
            opacity: 1;
        }

        h2 {
            max-width: 494px;
            font-weight: 600;
            font-size: 48px;
            line-height: 120%;
            letter-spacing: -0.4px;
            padding-bottom: 32px;
            padding-top: 16px;

            @media (width < 1024px) {
                max-width: unset;
                font-size: 32px;
                line-height: 110.00000000000001%;
            }
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__date {
        padding-bottom: 16px;
    }

    &__heading {
        max-width: 567px;
        font-weight: 600;
        font-size: 22px;
        line-height: 120%;
        padding-bottom: 16px;

        @media (width < 1024px) {
            max-width: unset;
            font-size: 18px;
            line-height: 150%;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        max-width: 567px;

        @media (width < 1024px) {
            max-width: unset;
        }
    }

    &__text:not(:last-child) {
        padding-bottom: 24px;
    }

    form {
        padding: 44px 32px;
        background: #1F4747;
        border-radius: 14px;
    }
}


.form__inner {

    input {
        height: 50px;
    }

    textarea {
        padding-top: 13px;
        padding-right: 16px;
        padding-bottom: 16px;
    }

    input,
    textarea {
        background: transparent;
        font-size: inherit;
        border: 1px solid #FFFFFF4D;
        border-radius: 4px;
        width: 538px;
        padding-left: 16px;
        margin-bottom: 24px;
        color: #fff;
        transition: all .3s ease;

        &::placeholder {
            color: #fff;
            opacity: 0.8;
        }

        &:focus {
            border: 1px solid #fff;
        }

        @media (width < 1240px) {
            width: 350px;
        }

        @media (width < 1024px) {
            width: 100%;
        }
    }

    &>div:last-of-type {
        margin-bottom: 40px;
    }

    button {
        width: 140px;
    }
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #fff;

    a {
        border-bottom: 1px solid #fff;
        font-weight: 600;
        transition: border .3s ease, color .3s ease;

        &:hover {
            border-bottom: 1px solid #BFDDBC;
            color: #BFDDBC;
        }
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 24px !important;
        height: 24px !important;
        border-radius: 4px !important;
        padding-right: 0 !important;
        border: 1px solid #cfd7d8;
        margin-right: 8px;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        margin-bottom: 0;
        cursor: pointer;
    }


    input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        background: #fff;
    }
}